@import "../../styles/base.scss";

.container {
  @extend %display;
  flex-direction: row;

  background-color: $blue;
  width: 180px;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
  }
}
