@import "../../styles/base.scss";

.container {
  @extend %display;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: $grey;
  color: #fff;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    // color: #000;
    background-color: #000;
  }
}
